<!DOCTYPE html>
<html lang="en">

<!--Heading-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <!--Title and button to scrape data-->
    <div class="jumbotron text-center">
      <h1><strong>Mission to Mars</strong></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars most recent article title and text -->
    <div class='row'>
      <div class='col-md-12'>
        <h3><strong>Latest Mars News</strong></h3>
        <p><strong>{{ mars_data.article_title}}</strong> - {{ mars_data.date }} <br>
          {{ mars_data.article_text}}</p>
      </div>
      <br>
      <br>
      <!--Mars featured image-->
      <div class='col-md-8'>
        <h3><strong>Featured Mars Image</strong></h3>
        <div class="thumbnail"><img src="{{ mars_data.Mars_Image }}" width=100% alt="Featured Mars Image">
        </div>
      </div>
      <!--Mars table-->
      <div class="col-md-4">
        <h5><strong>Mars Facts</strong></h5>
        {{ mars_data.Mars_Facts_Table | safe }}
      </div>
      <br>
      <br>
      <!--Mars hemispheres pictures and titles with for loop-->
      <div class='col-md-12 text-center'>
        <h3><strong>Mars Hemispheres</strong></h3>
      </div>
    </div>

      {% for m in mars_data.Hemispheres %}
      <div class ='col-md-6 card'>
        <div class = 'card-body'></div>
        <h4 class = 'card-text text-center'><strong>{{ m.title }}</strong></h4>
        <img class= 'thumbnail' src="{{ m.img_url }}" width=100% alt='Mars Hemispheres'>
      </div>
      {% endfor %}

  </div>

 <!--Bootstrap necessities-->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
 integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
 integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
 crossorigin="anonymous"></script>

</body>
</html>
